{% extends 'base.html' %}
{% block content %}
{% include 'partials/alerts.html' %}
<div class="container bg-purple-900">
    <section class="text-gray-600 body-font mx-auto w-1/3">
        <div class="bg-purple-800 rounded-lg p-8 flex flex-col mt-10 space-y-2 md:mt-0 shadow-2xl flex justify-center">
            <h2 class="text-white text-3xl text-center font-medium font-style: bold title-font mb-5">Public Recommendation</h2>
            <form action="{% url 'login' %}" method="post" >
                {% csrf_token %}
            <div class="relative mb-4 p-3.5">
                <label for=" username" class="leading-7 text-sm text-white">Username</label>
                <input type="text" id=" username" placeholder="Enter username" name="username" class=" bg-white rounded border border-gray-300 focus:border-green-500 focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700  py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>
            <div class="relative mb-4 p-3.5">
                <label for="password" class="leading-7 text-sm text-white">Password</label>
                <input type="password" id="password" placeholder="Enter password" name="password" class=" bg-white rounded border border-gray-300 focus:border-green-500 focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>
            <button class="text-white bg-purple-500 border-0 py-2 px-8 focus:outline-none hover:bg-green-600 rounded text-lg p-3.5">Login</button>
            <p class="text-xs text-white mt-3">Create account? <a href="Signup">Signup</a></p>
            </form>
    </section>
  </div>
{% endblock %}